<div class="card">
    <img class="card-img-top" src="../../favicon.ico" height="100px" alt="">
    <div class="card-body">
        <h4 class="card-title">Entar the location you want to get cordinates</h4>
        
           <div class="form-group card-text">
             <label for=""></label>
             <input type="text" [(ngModel)]="address"
               class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
             <button type="button" class="btn btn-primary" (click)="getCordsFromAddress()"  >Check</button>
           </div>
      
    </div>
</div>



